Flask==3.0.3
flask_mailman==1.1.1
Flask_SocketIO==5.3.6
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
google_auth_oauthlib==1.2.0
Pillow==10.4.0
pip==24.2
protobuf==5.27.3
PyJWT==2.8.0
PyJWT==2.9.0
pymongo==4.8.0
python-dotenv==1.0.1
redis==5.0.7
Requests==2.32.3
Werkzeug==3.0.4
WTForms==3.1.2
