{% extends "login-layout.html" %}

{% block head %}

{% endblock %}

{% block content %}
<header>
    <img src="{{url_for('static', filename='resources/logo.jpg')}}" alt="logo">
    <a href="{{url_for('registration')}}" class="question uppercase-text">Create Account</a>
</header>
<main>
    <div class="title">
        Log into Messanger
    </div>
    <!-- qq How to get flask messages with inherit class-style: algorithms and implementation? -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, m in messages %}
            <p class="flash-message {{category}}">{{ m }}</p> 
        {% endfor %}
    {% endwith %}
    <div class="container">
        <div class="content">
            <!-- Solution to form design
             I could probably make three columsn for large screens
             Two columsn for medium ones
             And one column for phones -->
            <form action="#" method="post">
                {{ form.hidden_tag() }}
                <input type="hidden" name="form_type" value="login">
                <fieldset>
                    <div class="input-block">
                        <p class="input-description uppercase-text">Email Address</p>
                        {{form.email()}}
                    </div>
                    <!-- TODO +- fix this disgusting errors !!! (they are working! But the problem is only when you submit.) -->
                     
                    {% for error in form.errors.email %}
                        <p class="flash-message danger">{{ error }}</p>
                    {% endfor %}
                    <div class="input-block password-block">
                        <p class="input-description uppercase-text">Password</p>
                        <div class="password-container">
                            {{form.password(class="password")}}
                            <i id="eye" class="fa-regular fa-eye"></i>
                        </div>
                    </div>
                    {% for error in form.errors.password %}
                        <p class="flash-message danger">{{ error }}</p>
                    {% endfor %}
                </fieldset>
                <div class="input-block">
                    <button aria-label="Submit" title="Submit">{{form.submit(class="submit  input-description uppercase-text")}}</button>
                </div>
            </form>
            <div class="break-line">
                <span class="line"></span>
                <p class="or-text uppercase-text">or</p>
                <span class="line"></span>
            </div>
            <div class="other-options">
                <a href="{{url_for('auth_google')}}">
                    <button class="option-button" aria-label="Authenticate with Google" title="Authenticate with Google">
                        <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="google-logo">
                        <span class="option-text">Continue with Google</span>
                    </button>
                </a>
            </div>
        </div>
    </div> 
    <button popovertarget="email-input-popover" class="login-problem uppercase-text" href="" aria-label="Reset password" title="Reset password">Can't Log In?</button>
    <div popover id="email-input-popover">
        <img src="{{url_for('static', filename='resources/email-popup-left.png')}}" alt="image" class="left-image">
        <article>
            <h2>Forgot Password?</h2>
            <p class="comment">Enter your email address to reset it.</p>
            <form action="#" method="post">
                {{ email_form.hidden_tag() }}
                <input type="hidden" name="form_type" value="update">
                <div class="input-block email">
                    <p class="input-description uppercase-text">Email Address</p>
                    {{ email_form.email(placeholder="Your Email", class="email-input") }}
                </div>
                {% for error in email_form.errors.email %}
                    <p class="flash-message danger">{{ error }}</p>
                {% endfor %}
                {{ email_form.submit(class="submit input-description uppercase-text")}}
            </form>
            <div class="links">
                <a href="{{url_for('registration')}}" class="uppercase-text">Create Account</a>
                <a href="{{url_for('login')}}" class="uppercase-text">Log In</a>
            </div>
        </article>
    </div>
    <aside class="footer">
        <a href="#">Terms</a> & <a href="#">Privacy</a>
    </aside>
</main>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock %}

